body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* Finding Ian Page */
.looking-ian-box {
    width: 100%;
    height: 600px;
    background-color: #7393B3;
}
.looking-box {
    width: 40%;
    height: 150px;
    margin: auto;
    background-color: #EDEADE;
    color: #36454F;
    position: relative;
    top: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    border-radius: 10px;
    box-shadow: 2px 3px 0px 0px black;
}

.looking-box h2 {
    border-right: .15em solid black; 
    letter-spacing: .10em; 
    animation: pulse;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

.looking-box a {
    font-size: 3rem;
    text-decoration: none;
    color: #7393B3;
    position: relative;
    bottom: 5px;
}

.looking-box a:hover {
    opacity: .8;
}

@media (min-width: 300px) and (max-width: 500px) {

    .looking-box {
        width: 70%;
        height: 130px;
    }

    .looking-box h2 {
        font-size: 1.2rem;
    }

    .looking-box a {
        font-size: 2.5rem;
    }
}

/* Home Page */
a.arrow-left {
    font-size: 3rem;
    text-decoration: none;
    margin-left: 20px;
    color: #7393B3;
    position: relative;
    bottom: 5px;
}

a.arrow-left:hover {
    opacity: .8;
}

.icon-box img {
    position: absolute;
    width: 60px;
    left: 100px;
    top: 40px;
}

.navbar-box {
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

.navbar-box a {
    text-decoration: none;
    color: #36454F;
    font-size: 1.2rem;
}

.navbar-box a:hover {
    color: black;
    box-shadow: 0px 2px 0px 0px #0096FF;
}

.menu-button {
    position: absolute;
    top: 1rem;
    right: 1rem; 
    display: none;
    flex-direction: column;
    justify-content: space-between; 
    width: 30px;
    padding: 7px;
    height: 20px;
    border-radius: 10px;
    cursor: pointer;
}

div.bar {
    width: 100%;
    height: 3px;
    background-color: #7393B3;
    border-radius: 5px;
}

.menu-button:hover {
    background-color: #E5E4E2;
    
}

h1.home {
    font-size: 4rem;
    letter-spacing: .10em; 
    text-align: center;
    color: #36454F;
}

.welcome-message {
    width: 60%;
    height: auto;
    margin: auto;
    color: #36454F;
    background-color: #EDEADE;
    box-shadow: 0px 0px 2px 1px #36454F;
    border-radius: 5px;
    padding: 10px;
    font-size: 1.1rem;
}

.contact-box {
    width: 60%;
    margin: auto;
    height: auto;
    padding: 10px;
    background-color: #EDEADE;
    border-radius: 5px;
    box-shadow: 0px 0px 2px 1px #36454F;
    color: #36454F;
}

.contact-box p {
    font-size: 1.1rem;
}

footer {
    margin-top: 50px;
    width: fill-parent;
    overflow: hidden;
    height: auto;
    padding: 10px;
    background-color: #7393B3;
    text-align: center;
    color: #36454F;
}

footer a {
    text-decoration: none;
    color: #36454F;
    margin: 5px;
}

footer a:hover {
    color: #EDEADE;
}

.contact-box p, footer a {
    font-size: 1.1rem;
}

@media (min-width: 300px) and (max-width: 500px) {


    a.arrow-left {
        bottom: 8px;
    }

    .icon-box img {
        width: 50px;
        top: 1%;
        left: 45%;
    }

    .navbar-box {
        display: none;
        gap: 10px;
        position: absolute;
        z-index: 5;
        width: 100%;
        flex-direction: column;
        background-color: #EDEADE;
        padding-left: 2rem;
    }

    .navbar-box a {
        width: fit-content;
        font-size: 1.3rem;
        border-width: 20px;
    }

    header {
        width: 100%;
        height: auto;
        background-color: #EDEADE;
    }

    .navbar-box.active {
        display: flex;
    }

    .menu-button {
        display: flex;
    }

    h1.home {
        font-size: 3rem;
    }

    .welcome-message {
        width: 90%;
        font-size: 1rem;
    }

    .contact-box {
        width: 90%;
    }

    .contact-box p {
        font-size: 1rem;
    }

    .contact-box p, footer a {
        font-size: 1rem;
    }

}

/* Personal Info */
.navbar2-box {
    width: 20%;
    margin-top: 1rem;
    margin-left: 14.5rem;
    border-radius: 10px;
    gap: 8px;
    padding: 10px;
    display: flex;
}

.navbar2-box a {
    font-size: 1rem;
    color: #36454F;
    text-decoration: none;
    border: 1px solid black;
    padding: 8px;
    border-radius: 10px;
}

.navbar2-box a:hover {
    color: azure;
    background-color: #0096FF;
    border-color: #0096FF;
}

h1.personal-info {
    font-size: 4rem;
    letter-spacing: .10em; 
    text-align: center;
    color: #36454F;
}

@media (min-width: 300px) and (max-width: 500px) {

    .navbar2-box {
        margin-left: 0;
        position: relative;
    }

    h1.personal-info {
        font-size: 3rem;
    }
}

/* Profile Page */
h1.profile {
    font-size: 4rem;
    letter-spacing: .10em; 
    text-align: center;
    color: #36454F;
}

.profile-pict {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-pict img {
    width: 20%;
    border-radius: 50%;
    box-shadow: 0px 0px 2px 1px #36454F;
    margin-bottom: 20px;
}

.personal-details {
    width: 60%;
    height: auto;
    margin: auto;
    background-color: #EDEADE;
    color: #36454F;
    padding: 10px;
    padding-left: 20px;
    border-radius: 5px;
    box-shadow: 3px 2px 0px 0px #36454F;
    margin-bottom: 20px;
}

.personal-details p {
    font-size: 1.1rem;
}


@media (min-width: 300px) and (max-width: 500px) {

    h1.profile {
        font-size: 3rem;
    }

    .profile-pict img {
        width: 40%;
    }

    .personal-details {
        width: 90%;
    }

    .personal-details p {
        font-size: 1rem;
    }
    
}

/* Gallery Page */
h1.gallery {
    font-size: 4rem;
    letter-spacing: .10em; 
    text-align: center;
    color: #36454F;
}

.gallery-box {
    width: 60%;
    height: auto;
    background-color: #7393B3;
    margin: auto;
    padding: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
    border-radius: 10px;
}

.gallery-box a {
    text-decoration: none;
    box-shadow: 0px 0px 3px 1px #36454F;
    border-color: none;
    color: #36454F;
    background-color: #EDEADE;
    width: 20%;
    height: 100px;
    border: 1px solid ;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 300ms;
    border-radius: 5px;
}

.gallery-box a:hover {
    transform: scale(1.1);
}

@media (min-width: 300px) and (max-width: 500px) {

    h1.gallery {
        font-size: 3rem;
    }

    .gallery-box {
        flex-direction: column;
        height: auto;
    }

    .gallery-box a {
        width: 50%;
    }
}

/* Personal Page */
h1.personal {
    font-size: 4rem;
    letter-spacing: .10em; 
    text-align: center;
    color: #36454F;
}

.personal-box {
    width: 60%;
    margin: auto;
    border: 1px solid black;
    padding: 10px;
    color: #36454F;
}

.personal-box img {
    width: 20%;
}

p.arrow-down {
    font-size: 3rem;
    text-align: center;
}

.personal-img-box {
    box-shadow: 3px 2px 0px 0px black;
    border-radius: 5px;
    padding: 15px;
    display: flex;
    align-items: center;
    gap: 5px;
    background-color: #EDEADE;
}

.personal-img-box p {
    margin-left: 1rem;
    font-size: 1.1rem;
}


/* Crush Page */
h1.crush {
    font-size: 4rem;
    letter-spacing: .10em; 
    text-align: center;
    color: #36454F;
}

.crush-box {
    width: 60%;
    margin: auto;
    padding: 10px;
    color: #36454F;
}

.crush-box img {
    width: 20%;
}

p.arrow-down {
    font-size: 3rem;
    text-align: center;
}

.crush1-img-box {
    box-shadow: 3px 2px 0px 0px black;
    border-radius: 5px;
    padding: 15px;
    display: flex;
    align-items: center;
    gap: 5px;
    background-color: #EDEADE;
}

.crush1-img-box p {
    margin-left: 1rem;
    font-size: 1.1rem;
}

.crush2-img-box {
    box-shadow: 3px 2px 0px 0px black;
    border-radius: 5px;
    padding: 15px;
    display: flex;
    align-items: center;
    gap: 5px;
    background-color: #EDEADE;
}

.crush2-img-box p {
    margin-right: 1rem;
    font-size: 1.1rem;
}

.crush3-img-box {
    box-shadow: 3px 2px 0px 0px black;
    border-radius: 5px;
    padding: 15px;
    display: flex;
    align-items: center;
    gap: 5px;
    background-color: #EDEADE;
}

.crush3-img-box p {
    margin-left: 1rem;
    font-size: 1.1rem;
}

.crush4-img-box {
    box-shadow: 3px 2px 0px 0px black;
    border-radius: 5px;
    padding: 15px;
    display: flex;
    align-items: center;
    gap: 5px;
    background-color: #EDEADE;
}

.crush4-img-box p {
    margin-right: 1rem;
    font-size: 1.1rem;
}

.crush5-img-box {
    box-shadow: 3px 2px 0px 0px black;
    border-radius: 5px;
    padding: 15px;
    display: flex;
    align-items: center;
    gap: 5px;
    background-color: #EDEADE;
}

.crush5-img-box p {
    margin-left: 1rem;
    font-size: 1.1rem;
}

.crush6-img-box {
    box-shadow: 3px 2px 0px 0px black;
    border-radius: 5px;
    padding: 15px;
    display: flex;
    align-items: center;
    gap: 5px;
    background-color: #EDEADE;
}

.crush6-img-box video {
    width: 20%;
}

.crush6-img-box p {
    margin-right: 1rem;
    font-size: 1.1rem;
}

.crush7-img-box {
    box-shadow: 3px 2px 0px 0px black;
    border-radius: 5px;
    padding: 15px;
    display: flex;
    align-items: center;
    gap: 5px;
    background-color: #EDEADE;
}

.crush7-img-box p {
    margin-left: 1rem;
    font-size: 1.1rem;
}

@media (min-width: 300px) and (max-width: 500px) {

    h1.crush {
        font-size: 3rem;
    }

    .crush-box {
        width: fit-content;
    }

    .crush-box img {
        width: 20%;
    }

    .crush1-img-box p {
        margin-left: 1rem;
        font-size: 1rem;
    }

    .crush2-img-box p {
        margin-right: 1rem;
        font-size: 1rem;
    }

    .crush3-img-box p {
        margin-right: 1rem;
        font-size: 1rem;
    }

    .crush4-img-box p {
        margin-right: 1rem;
        font-size: 1rem;
    }

    .crush5-img-box p {
        margin-right: 1rem;
        font-size: 1rem;
    }

    .crush6-img-box p {
        margin-right: 1rem;
        font-size: 1rem;
    }
    
    .crush7-img-box p {
        margin-right: 1rem;
        font-size: 1rem;
    }

    
}

/* Experience Page */
h1.experience {
    font-size: 4rem;
    letter-spacing: .10em; 
    text-align: center;
    color: #36454F;
}

.exp-box {
    width: 60%;
    padding: 10px;
    margin: auto;
    color: #36454F;
    background-color: #EDEADE;
    text-align: center;
    box-shadow: 0px 0px 2px 1px #36454F;
    border-radius: 5px;
}

.exp-box p {
    font-size: 1.1rem;
}

.exp-box a {
    font-size: 1.1rem;
    text-decoration: none;
    border: 1px solid #36454F;
    padding: 5px;
    width: 20%;
    border-color: #0096FF;
    color: #0096FF;
}

.exp-box a:hover {
    background-color: #0096FF;
    color: #EDEADE;
}

.exp1-box {
    width: 80%;
    height: auto;
    margin: auto;
    display: flex;
    justify-content: center;
    gap: 10px;
}

@media (min-width: 300px) and (max-width: 500px) {

    h1.experience {
        font-size: 3rem;
    }

    .exp-box {
        width: 90%;
    }

    .exp-box p {
        font-size: 1rem;
    }

    .exp-box a {
        width: 30%;
    }

    .exp1-box {
        width: 100%;
    }
}


/* Education Page */
h1.education {
    font-size: 4rem;
    letter-spacing: .10em; 
    text-align: center;
    color: #36454F;
}

.educ-box {
    width: 60%;
    margin: auto;
    height: auto;
    color: #36454F;
    background-color: #EDEADE;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0px 0px 2px 1px #36454F;
}

.educ-box p {
    font-size: 1.1rem;
}

@media (min-width: 300px) and (max-width: 500px) {

    h1.education {
        font-size: 3rem;
    }

    .educ-box p {
        font-size: 1rem;
    }

    .educ-box {
        width: 90%;
    }
}


/* Skills Page */
h1.skills {
    font-size: 4rem;
    letter-spacing: .10em; 
    text-align: center;
    color: #36454F;
}

.skills-box {
    width: 60%;
    height: auto;
    margin: auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.skills1-box {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: #EDEADE;
    box-shadow: 0px 0px 2px 1px #36454F;
    border-radius: 5px;
    padding: 5px;
}

.skills-box p {
    font-size: 1.1rem;
    color: #36454F;
    cursor: pointer;
}

.skills-box p:hover {
    color: black;
    padding-left: 5px;
}

.skills-box img {
    width: 10%;
}

.skills2-box {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: #EDEADE;
    box-shadow: 0px 0px 2px 1px #36454F;
    border-radius: 5px;
    padding: 5px;
}

.skills3-box {
    width: fit-content;
} 


@media (min-width: 300px) and (max-width: 600px) {

    h1.skills {
        font-size: 3rem;
    }

    .skills-box {
        width: 90%;
    }

    .skills-box p {
        font-size: 1rem;
    }
}


/* Interest Page */
h1.interest {
    font-size: 4rem;
    letter-spacing: .10em; 
    text-align: center;
    color: #36454F;
}

.interest-nav {
    width: 20%;
    margin-top: 1rem;
    margin-left: 14.5rem;
    border-radius: 10px;
    gap: 8px;
    padding: 10px;
    display: flex;
}

.interest-nav a {
    font-size: 1rem;
    color: #36454F;
    text-decoration: none;
    border: 1px solid black;
    padding: 8px;
    border-radius: 10px;
}

.interest-nav a:hover {
    border-style: none;
    color: azure;
    background-color: #0096FF;
}

@media (min-width: 300px) and (max-width: 500px) {

    .interest-nav {
        margin-left: 0px;
    }
}

/* Song Page */
h1.music {
    font-size: 4rem;
    letter-spacing: .10em; 
    text-align: center;
    color: #36454F;
}

.song {
    width: 60%;
    margin: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #36454F;
}

.song p {
    font-size: 1rem;
    text-align: center;
}

.song img {
    width: 50%;
}

@media (min-width: 300px) and (max-width: 500px) {

    h1.music {
        font-size: 3rem;
    }

    .song {
        width: 90%;
    }

}
